NODE_ENV=production
PORT=3000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_COMMITMENT=confirmed

POSTGRES_DB=rentx
POSTGRES_USER=rentx
POSTGRES_PASSWORD=rentx
POSTGRES_PORT=5432

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=rentx
DATABASE_USER=rentx
DATABASE_PASSWORD=rentx
DATABASE_SYNCHRONIZE=true

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ENDPOINT=minio
MINIO_INTERNAL_PORT=9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=rentx
MINIO_USE_SSL=false
